@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/raleway-v29-latin-regular.ttf') format('truetype'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/raleway-v29-latin-italic.woff2') format('woff2'),
       url('../fonts/raleway-v29-latin-italic.ttf') format('truetype'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway-v29-latin-500.woff2') format('woff2'),
       url('../fonts/raleway-v29-latin-500.ttf') format('truetype'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/raleway-v29-latin-500italic.woff2') format('woff2'),
       url('../fonts/raleway-v29-latin-500italic.ttf') format('truetype'); 
}

.justify-start {
  justify-content: start;
}

.sub-menu {
  border-radius: 0.5em;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(6em);
  -webkit-backdrop-filter: blur(6em);
  background: var(--transwhite);
}

.sub-menu button, .dropdown-nav button{
  text-align: left;
}

.card {
  background-color: var(--transwhite);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2em;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.500);
  border: 1px solid var(--sec);
}

.small-icon {
  height: 2em;
  width: 2em;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.raleway {
  font-family: 'Raleway';
  font-weight: 400;
}

.section-title {
  user-select: none;
  text-align: center;
  margin: 0.2em 0;
  padding: 0.2em;
}

.dropdown-nav {
  position: absolute;
  z-index: 1;
  background-color: var(--glassgrey);
  backdrop-filter: blur(6em);
  -webkit-backdrop-filter: blur(6em);
  width: 12em;
  border-radius: 0.3em;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dropdown-nav-link {
  display: block;
  color: var(--coalblack);
  text-decoration: none;
  background-color: #00000000;
  border: 1px solid #00000000;
  padding: 0.5em 0.25em;
  text-decoration: none;
  border-radius: 0.3em;
  font-weight: 500;
  transition: 0.3s;
}

.dropdown-nav-link:hover {
  background-color: var(--pri);
  color: var(--cloudwhite);
}

#not-found h2 {
  margin: 4em 0;
}

  #terms-and-conditions h3, #privacy-policy h3, #join-aarc h3 {
    text-align: center;
    padding: 1.5em 1.5em 0.3em;
  }

dialog {
    position: absolute;
    z-index: 2;
    bottom: 0;
    border: none;
    border-radius: 0.5em;
    backdrop-filter: blur(6em);
    -webkit-backdrop-filter: blur(6em);
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  #success-modal {
    background-color: #12771596;
    color: var(--cloudwhite);
  }
  
  #failure-modal {
    background-color: #ff2e2e7c;
    color: var(--cloudwhite);
  }
  
  dialog button {
    margin: 0 1em;
    padding: 0.01em;
    line-height: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }

  .services-card {
    /* opacity: 0; */
    user-select: none;
    justify-content: center;
    margin: 1em;
    padding: 2em;
    width: 20em;
    height: 23em;
    min-height: 18em;
    border: 1px solid rgb(211, 211, 211);
    transition: 0.3s;
  }

  .card-column {
    margin: 0 auto;
    padding: 2em;
  }

  .room-img {
    cursor: pointer;
  }

  .inline-flex {
    display: inline;
    text-align: start;
  }

  .feature-card {
    width: auto;
    padding: 0.5em;
    margin: 3em auto;
    user-select: none;
    border-radius: 0.25em;
  }

  .feature-card p {
    margin: 0.25em;
  }

  .feature-card a {
    margin: 2em 0 1em;
    color: var(--pri);
    text-decoration: none;
    background-color: var(--glassgrey);
    padding: 0.6em 1.2em;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--pri);
  }

  .feature-card a:hover {
    transition: 0.3s;
    color: var(--cloudwhite);
    background-color: var(--pri);
  }

  .room-card {
    padding: 0.3em;
    margin: 1em;
    width: 23em;
    user-select: none;
    border: 1px solid rgb(211, 211, 211);
  }

  .room-card-heading {
    margin: 0.8em auto 0.5em ;
    font-size: 1.5em;
  }

  .room-card button {
    border: 1px solid var(--pri);
    color: var(--pri);
    margin: 0.5em;
    transition: 0.3s;
  }

  .room-card button:hover {
    background-color: var(--pri);
    color: var(--cloudwhite);
  }

  table {
    overflow-y: scroll;
    margin: 5em 0;
    font-size: 0.8em;
  }

  th {
    padding: 0.5em 0;
    background-color: var(--pri);
    color: var(--cloudwhite);
  }

  td {
    padding: 0.5em 0;
  }

  .contrast-row {
    background: #5b98d6;
  }

  .services-card:hover { 
    border: 1px solid var(--sec);
  }

  .services-img {
    margin: auto;
    height: 17em;
    width: 17em;
  }

  .services-text {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 0.2em;
  }

  .services-sub-text {
    overflow-y: auto;
    scrollbar-color: var(--glassgrey) var(--glassgrey);
    scrollbar-width: thin;
    width: 17em;
    height: 18em;
    display: none;
    /* opacity: 0; */
    font-weight: 100;
    margin: 0.5em 0;
  }

  .services-sub-text p{
    margin: 1em 0;
  }

  .profile-card {
    max-width: 26em;
    padding: 1em;
    margin: 1em;
    /* opacity: 0; */
    user-select: none;
    justify-content: center;
    border: 1px solid rgb(211, 211, 211);
    transition: 0.3s;
  }

  .qualifications {
    line-height: 1.5em;
    padding: 1em 0;
    color: rgb(103, 103, 103);
  }

  .profile-name{
    text-align: center;
    line-height: 1.5em;
    padding: 0.5em 0;
  }

  .profile-text{
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
    padding: 0.8em 0;
  }

  .profile-image {
    display: block;
    margin: 0.5em auto;
    height: 20em;
    width: auto;
    border-radius: 1em;
  }

  .gallery-thumbnail {
    display: block;
    margin: 1em;
    height: auto;
    max-width: 15em;
    border-radius: 0.5em;
  }

  .workshop-section {
    margin: 5em 0;
  }

  .workshops h4{
    margin-top: 2em;
  }

  .workshops h5{
    margin: 0.5em 0;
  }

  .workshops-day-box {
    width: 16em;
    height: 19em;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 1em;
    transition: 0.3s;
  }

  .workshops-day-box:hover {
    border: 1px solid var(--ter);
  }

  .workshops-day-box p {
    padding: 0.5px;
  }

  .workshop-submit-button {
    color: var(--ter);
    transition: 0.3s;
    margin: 2em 0;    
    border: none;
  }

  .workshop-submit-button:hover {
    background-color: var(--ter);
    color: var(--cloudwhite);
  }

  .workshops-info-strip {
    margin: 0.2em;
  }

  .workshops-white-box {
    background-color: var(--cloudwhite);
    padding: 1em;
  }

  .workshops-black-box {
    color: var(--cloudwhite);
    background-color: var(--coalblack);
    padding: 1em;
  }

  .speaker-column {
    align-items: center;
    width: 14em;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 1em;
    transition: 0.3s;
  }

  .speaker-column:hover {
    border: 1px solid var(--ter);
  }

  .workshops-speaker-avatar {
    width: 10em;
    height: 10em;
    object-fit: cover;    /* Crops and scales the image */
    object-position: center;  /* Controls which part is visible */
    border-radius: 5em;
  }

  .workshops-details {
    color: grey;
  }

  .workshops-paragraph {
    line-height: 0.5em;
    font-weight: 500;
  }

  .workshops li {
    margin-left: 0;
    padding-left: 0;
  }

  .body-text {
    line-height: 1.5em;
    font-weight: 500;
  }

  .page-card {
    justify-content: center;
  }

  form {
    /* opacity: 0; */
    border: 1px solid rgb(211, 211, 211);
    border-radius: 1em;
    transition: 0.3s;
  }

  form:hover {
    border: 1px solid var(--sec);
  }

  form h3 {
    text-align: center;
    padding: 0.5em;
  }

  label {
    margin: 1em 0.5em 0.2em;
  }

  input, select, textarea {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid rgb(211, 211, 211);
    background-color: #ffffff;
    resize: none;
  }

  .check-prices-button {
    color: var(--sec);
    transition: 0.3s;
    margin: 2em 0;    
    border: none;
  }

  .submit-button {
    color: var(--sec);
    transition: 0.3s;
    margin: 2em 0;    
    border: none;
  }

  .submit-button:hover {
    background-color: var(--sec);
    color: var(--cloudwhite);
  }

  .loading-icon {
    height: 4em;
    width: 4em;
  }

  .disabled-label {
    color: rgb(164, 164, 164);
  }
  
  .disabled-input {
    background-color: rgba(0, 0, 0, 0.069);
    user-select: none;
  }

@media (max-width: 576px) {

  h3 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

.about-aarc-text {
    font-size: 1em;
    padding: 1em;
  }

  .page-card {
    margin: 1em;
    padding: 0.5em;
  }

  .body-text {
    padding: 0.5em 1em;
  }

  .workshops-paragraph {
    padding: 0.5em 1em;
  }

  .room-img {
    margin: 0 auto 0;
    width: 15em;
  }

  input, select {
    width: 20em;
    margin: 0.5em;
    padding: 1em;
  }

  textarea {
    width: 20em;
    height: 12em;
  }

  .workshops-white-box {
    width: auto;
  }

  .workshops-black-box {
    width: auto;
  }

  .location {
    height: 15em;
    width: 20.5em;
  }

}

@media (min-width: 576px) {
  
  h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

.about-aarc-text {
    font-size: 1em;
    padding: 1em;
  }

  .page-card {
    margin: 0 1em;
    padding: 1em;
  }

  .body-text {
    padding: 0.5em 2em;
  }

  .workshops-paragraph {
    padding: 0.5em 2em;
  }

  .room-img {
    margin: 0 auto 0;
    width: 17em;
  }

  form {
    margin: 8em 2em;
    padding: 1em 2em;
  }

  input, select {
    width: 20em;
    margin: 0.5em;
    padding: 1em;
  }

  textarea {
    width: 24em;
    height: 12em;
  }

  .workshops-white-box {
    width: auto;
  }
  .workshops-black-box {
    width: auto;
  }

  .location {
    height: 15em;
    width: 20.5em;
  }

}

@media (min-width: 768px) {

  h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

.about-aarc-text {
    font-size: 1.2em;
    padding: 1em 3em;
  }

  .body-text {
    padding: 0.5em 2em;
  }

  .workshops-paragraph {
    padding: 0.5em 2em;
  }

  .page-card {
    margin: 0 5em;
    padding: 2em;
  }

  .room-img {
    margin: 0 auto 0;
    width: 20em;
  }

  form {
    margin: 8em 1em;
    padding: 1em 2em;
  }

  input, select {
    width: 20em;
    margin: 0.5em;
    padding: 1em;
  }

  #interest-interest, #interest-other-qualifications, #interest-qualifications {
    width: 25em;
  }

  textarea {
    width: 24em;
    height: 12em;
  }

}

@media (min-width: 992px) {
  
  h3 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

.workshops-white-box {
    width: 10em;
  }
  .workshops-black-box {
    width: 24em;
  }

  .body-text {
    padding: 0.5em 5em;
  }

  .workshops-paragraph {
    padding: 0.5em 5em;
  }

  .location {
    height: 20em;
    width: 26em;
  }

  .about-aarc-text {
    font-size: 1.3em;
    padding: 1em 5em;
  }

  form {
    margin: 8em 5em;
    padding: 1em 2em;
  }

  input, select {
    width: 16em;
    margin: 0.5em;
    padding: 1em;
  }

  #interest-interest, #interest-other-qualifications, #interest-qualifications {
    width: 25em;
  }

  .profile-card {
    padding: 2em;
  }

  textarea {
    width: 28em;
    height: 12em;
  }

  .workshops-white-box {
    width: 12em;
  }

  .workshops-black-box {
    width: 33em;
  }

  .location {
    height: 25em;
    width: 32em;
  }

}

@media (min-width: 1200px) {

.about-aarc-text {
    font-size: 1.5em;
    padding: 1em 6em;
  }

  form {
    margin: 8em 10em;
    padding: 1em 2em;
  }

  input, select {
    width: 20em;
    margin: 0.5em;
    padding: 1em;
  }

  #interest-interest, #interest-other-qualifications, #interest-qualifications {
    width: 28em;
  }

  textarea {
    width: 34em;
    height: 12em;
  }

  .body-text {
    padding: 0.5em 10em;
  }

  .workshops-paragraph {
    padding: 0.5em 10em;
  }

  .workshops-white-box {
    width: 15em;
  }
  .workshops-black-box {
    width: 40em;
  }

}